*/
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow:hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* prevent scrolling in windows phone */
    -ms-touch-action: none;
    /* prevent selection highlight */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#drawPage{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
#drawingCanvas{
    background: #FD9;
    margin:0;
    padding:0;
}
#drawingContent{
    background: #333;
    margin:0;
    padding:0;
}
#inputText{
    background: #999;
    margin:0;
    padding:0;
}
#radiusControls a{
    border-radius:.3em;
    margin:0;
    padding:0;
    width:23%;
    height:35px;
}
.canvasHolder{
    margin:0;
    padding:0;

}
#drawPageHeader{
    margin:0;
    padding:0;
}
#radiusControls{
    float:left;
    width:40%;
    background:rgba(0,0,0,0);
    border:none;
    padding:0;
    margin:0;
}
#clock{
    margin-left:0.5%;
    width:.85em;
}
#clock:hover{
   background:#f6f6f6;
}

#colors{
    float:right;
    height:35px;
    width:60%;
    background:rgba(0,0,0,0);
    border:none;
    vertical-align:middle;
    margin:0,0,0,0;
    padding:0,0,0,0;
}
#colors *{
    margin:0;
    padding:0;

}
#colors div{
    width:100%;
    float:right;
    margin:0;
    padding:0;
}
#colors a{
    float:right;
    display:inline-block;
    border-radius:.3em;
    border-width:1px;
    border-style: solid;
    border-color: #ddd;
    height:35px;
    width: 11.5%;
    vertical-align:middle;
    margin:1px;
    padding:0;
}
#black{
    background-color:#000;

}
#black:active{
    background-color:#1d1d1d;

}
#blue{
    background-color:#0000FF;

}
#blue:active{
    background-color:#1d1dFF;

}

#green{
    background-color:#008000;

}
#green:active{
    background-color:#1d9d1d;

}

#yellow{
    background-color:#FFFF1d;

}
#yellow:active{
    background-color:#FFFF00;

}
#orange{
    background-color:#FFA500;
}
#orange:active{
    background-color:#FF8800;
}
#red{
    background-color:#FF0000;

}
#red:active{
    background-color:#FF1D1D;

}
#purple{
    background-color:#800080;
}
#purple:active{
    background-color:#9D1D9D;
}

.active{
    background-image: url(../images/pencil.svg);
    background-repeat:no-repeat;
    background-size:40%,40%;
    background-position: center;
}
